<nz-layout>
  <nz-content>
    <div class="inner-content">
      <div nz-row>
        <div nz-col nzSpan="14" nzOffset="5">
          <h1 class="header-title">Full Stack Challenge</h1>
          <app-todo-form [refresh]="loadAll"></app-todo-form>
          <nz-list nzItemLayout="horizontal">
            <nz-list-item *ngFor="let todo of todos$ | async" class="todo-item">
              <ng-container>
                <div *ngIf="!todo.editing; else editMode">
                  <nz-tag [nzColor]="todo.completed ? 'green' : 'cyan'">{{todo.title}}</nz-tag>
                </div>
                <ng-template #editMode>
                  <input nz-input [(ngModel)]="todo.title" class="edit-input" />
                </ng-template>

                <ul nz-list-item-actions>
                  <nz-list-item-action>
                    <button *ngIf="!todo.editing" nz-button nzType="default" class="action-button" (click)="startEdit(todo)">
                      Edit
                    </button>
                    <button *ngIf="todo.editing" nz-button nzType="primary" class="action-button save-button" (click)="saveEdit(todo)">
                      Save
                    </button>
                    <button *ngIf="todo.editing" nz-button nzType="default" class="action-button cancel-button" (click)="cancelEdit(todo)">
                      Cancel
                    </button>
                  </nz-list-item-action>

                  <nz-list-item-action>
                    <nz-switch
                      [(ngModel)]="todo.completed"
                      (click)="changeStatus(todo)"
                      nz-tooltip
                      nzTooltipTitle="Change Todo Status"
                      class="todo-switch"
                    >
                    </nz-switch>
                  </nz-list-item-action>

                  <nz-list-item-action>
                    <button
                      nz-button
                      nzType="primary"
                      nzDanger
                      nz-popconfirm
                      nzPopconfirmTitle="Are you sure you want to delete?"
                      nzPopconfirmPlacement="top"
                      (nzOnConfirm)="deleteTodo(todo)"
                      class="delete-button"
                    >
                      X
                    </button>
                  </nz-list-item-action>
                </ul>
              </ng-container>
            </nz-list-item>
          </nz-list>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
